
@media only screen and (max-width: 1200px) {
	.group {
		width: 100%;
	}  

	nav {
		width: 300px;
	}
}

@media only screen and (max-width: 1000px) {

	nav {
		width: 80%;
		justify-content: space-between;
		margin-left: 10%;
		margin-right: 10%;
	}
}


@media only screen and (max-width: 700px) {
	.group {
		width: 100%;
		height: auto;
	}  
	.fotoCont {
		width: 100% !important;
		height: 400px !important;
	}

	#formCont {
		width: 95%;
		height: 600px;
	}

	.txt label {
		padding-left: 4.5%;
	}

	.txt {
		width: 100%;
	}


	.txt input[type=text] {
		width: 78.6%;
		margin-left: 6.9%;
	}


	input[type=submit] { 
		width: 81%;
		margin-left: 9%;
	}
}